//button
button, .button
  outline: none
  position: relative
  display: inline-block
  background-image: $primaryGradient
  // font-weight: $font-blod
  // text-transform: capitalize
  padding: 15px 20px
  width: 100%
  border: none
  color: #fff
  cursor: pointer
  border-radius: 50px
  transition: opacity .3s ease-in-out
  overflow: hidden
  +breakpoint-up(large)
      max-width: 200px
  &::before 
    content: ''
    position: absolute
    display: inline-block
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(255,255,255,0.25)
    opacity: 0
    transition: opacity .2s ease-in-out
  &:hover::before
    opacity: 1
  &:active
    transform: scale(0.98)

  &--large
    @extend .button
    padding: 20px
    max-width: 240px
    +breakpoint-up(medium)
      max-width: 285px
      font-size: $font-med
  
  // span
  //   position: relative
  //   z-index: 3
  
