extend ./layout.pug

block navbar
  include ./layouts/navbar.pug

block hero
  include ./layouts/hero.pug

block feature
  include ./layouts/feature.pug

block productive
  include ./layouts/productive.pug

block quotes
  include ./layouts/quotes.pug

block signUp
  include ./layouts/signUp.pug

block footer
  include ./layouts/footer.pug

block script
  script(src="dist/scripts.js")

