<!DOCTYPE html>
html(lang="en")
  head
    include ./blocks/head.pug
  body
    .wrap
      block navbar
      block hero
      block feature
      block productive
      block quotes
      block signup
      block footer
      
    block script


