section.feature
  .container.feature__grid
    .feature__items
      .feature__img
        img(src="./app/images/icon-access-anywhere.svg", alt="Access anywhere")
      h4.feature__title Access your files, anywhere
      p.feature__description The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere.
    .feature__items
      .feature__img
        img(src="./app/images/icon-security.svg", alt="Security")
      h4.feature__title Security you can trust
      p.feature__description 2-factor authentication and user-controlled encryption are just a couple of the security features we allow to help secure your files.
    .feature__items
      .feature__img
        img(src="./app/images/icon-collaboration.svg", alt="Collaboration")
      h4.feature__title Real-time collaboration
      p.feature__description Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.
    .feature__items
      .feature__img
        img(src="./app/images/icon-any-file.svg", alt="Any file")
      h4.feature__title Store any type of file
      p.feature__description Whether you're sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securely stored and shared.