footer
  p.attribution
    | Challenge by 
    a(href='https://www.frontendmentor.io?ref=challenge', target='_blank') Frontend Mentor
    | . 
    |     Coded by 
    a(href='#') Your Name Here
    | .