section.hero
  .container.d-flex.flex-column.align-items-center
    img(src="app/images/illustration-intro.png", alt="hero_bg")
    h2.hero__title All your files in one secure location, accessible anywhere.
    p.hero__content
      | Fylo stores all your most important files in one secure location. Access them wherever you need, share and collaborate with friends family, and co-workers.
    button.button--large Get Started