header.header
  .container
    nav.d-flex.justify-content-between.align-items-center
      h1.header__logo
        a(href='#') fylo
      ul.header__links.d-flex
        li
          a(href="#") Features
        li
          a(href="#") Team
        li
          a(href="#") Sign In
