section.productive
  .container.productive__grid
    .productive__img
      img(src="./app/images/illustration-stay-productive.png", alt="productive image")
    .productive__content
      h2.productive__title Stay productive, wherever you are
      p.productive__description Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs.
      p.productive__description Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.
      .productive__link
        a(href="#") See how Fylo works
          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='16px', height='16px', viewbox='0 0 16 16', enable-background='new 0 0 16 16', xml:space='preserve')
            path.arrow(fill='#62E0D9', d='M8,2C4.7,2,2,4.7,2,8s2.7,6,6,6s6-2.7,6-6S11.3,2,8,2z M8.6,10L8.2,9.7l1.5-1.4H5.3V7.8h4.3L8.2,6.3L8.6,6\
            l2.1,2L8.6,10z')
