section.signUp
  .container
    .signUp__block
      h3.signUp__title Get early access today
      p.signUp__description It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.
      form.signUp__form
        input(type="email" placeholder="email@example.com" required class="signUp__email")
        //- input(type="submit" value="Get Started For Free").button
        button(type="submit").button Get Started For Free